html, body {
    height: 100%;
    margin: 0;
  }

body{
    background-image:url(background.png);
    display: flex;
    flex-direction: column;
}

footer{
    display: block;
    background-color: white;
}

ul {
    list-style-type: none;
}

input,button{
    cursor:pointer;
}

.btn_delete{
    width:1vh;
    height:2vh;
    background-color:white;
    border-style: none;
}

label{
    width: 30%;
}

p{
    display: inline;
}

div{
    text-align: center;
}

.todo{
    margin-left: 38%;
    text-align: left;
    align-items: center;
}

li{
    margin-bottom: 2%;
    
}

.show{
    flex-grow: 1;
}

.todo_title{
    background-color: whitesmoke;
}